@model rentManagement.Models.Tenant

<div>
    <dl class="row">
        <dt class="col-sm-3">Full Name:</dt>
        <dd class="col-sm-9">@Model.FullName</dd>

        <dt class="col-sm-3">Address:</dt>
        <dd class="col-sm-9">@Model.Address</dd>

        <dt class="col-sm-3">Postal Code:</dt>
        <dd class="col-sm-9">@Model.PostalCode</dd>
        
        <dt class="col-sm-3">City:</dt>
        <dd class="col-sm-9">@Model.City</dd>

        <dt class="col-sm-3">Id Proof Provided:</dt>
        <dd class="col-sm-9">@Model.IdProof</dd>

        <dt class="col-sm-3">Deposit paid:</dt>
        <dd class="col-sm-9">@Model.Deposit</dd>

        <dt class="col-sm-3">Is assigned a Unit?</dt>
        <dd class="col-sm-9">@Model.IsAssigned</dd>
    </dl>

    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.TenantId">Edit Tenant</a>
    </div>
    </br>
    @if(@Model.IsAssigned == false){
        <div>
            <a class="btn btn-danger"  asp-action="Remove" asp-route-id="@Model.TenantId">Remove Tenant</a>
        </div>
        <br>
        }
    else {
        <div>
            <a class="btn btn-danger" href="">Remove Tenant</a>
        </div>
            <div class="alert alert-warning">
                <strong>Warning!</strong> <br>
                <p style="color: red;">Please UnAssign the unit that has been assigned to @Model.FullName, then come back to delete the tenant.</p>
            </div>
        <div>
            
        </div>
        <br>
    }
</div>