
@model rentManagement.Models.Rental

</br>
<div>
    <dl class="row">
        <dt class="col-sm-3">Apartment:</dt>
        <dd class="col-sm-9">@Model.Apartment</dd>

        <dt class="col-sm-3">Unit:</dt>
        <dd class="col-sm-9">@Model.Unit</dd>

        <dt class="col-sm-3">Number of Rooms:</dt>
        <dd class="col-sm-9">@Model.NumberOfRoom</dd>

        <dt class="col-sm-3">Cost:</dt>
        <dd class="col-sm-9">@Model.Cost</dd>

        <dt class="col-sm-3">Is assigned to a Tenant?</dt>
        @if(Model.IsAssigned == true){
        <dd class="col-sm-9">Yes</dd>
        }
        else{
        <dd class="col-sm-9">No</dd>    
        }
    </dl>

    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-unit="@Model.Unit">Edit Unit</a>
    </div>
    </br>
    @if(@Model.IsAssigned == false){
    <div>
        <a class="btn btn-success" asp-controller="Assignment" asp-action="CreateForm" asp-route-unit="@Model.Unit">Assign Unit</a>
        
    </div>
    <br>
    }
    @if(@Model.IsAssigned == true){
        <div>
        <a class="btn btn-danger" asp-controller="Assignment" asp-action="RemoveForm" asp-route-unit="@Model.Unit">UnAssign Unit</a>
        </div>
         <div class="alert alert-warning">
                <strong>Note!</strong>
                <p style="color: red;">This will unassign this unit and the tenant it was assigned to.
                </p>
        </div>
        
    }
    
</div>