@model List<rentManagement.Models.Rental>;

<h2>List of Units</h2>&nbsp;
<div>
    <div>Number of Units : @Model.Count</div>&nbsp;

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Unit Number</th>
            <th>Apartment Number</th>
            <th>No. Of Rooms</th>
            <th>Cost of each Unit</th>
            <th>Is Assigned a Unit?</th>
            <th></th>
        </tr>
        </thead>
        @for (var i = 0; i < Model.Count; i++){
            <tr>
                <td>@Model[i].Unit</td>
                <td>@Model[i].Apartment</td>
                <td>@Model[i].NumberOfRoom</td>
                <td>@Model[i].Cost</td>
                <td style="color: red;">@Model[i].IsAssigned</td>
                <td><a asp-action="Details" asp-route-unit="@Model[i].Unit">View Unit</a></td>
            </tr>
        }
    
    
    </table>
    <div>
        <a class="btn btn-primary" asp-action="Form">Create New Unit</a>
    </div>
</div>